---
layout: _pages-layout.njk
local: en

pagination:
   data: contributors
   size: 1
   alias: contributor
permalink: "/contributors/{{ contributor.name | slug }}/"
eleventyComputed:
   title: "{{ contributor.name }}"
---


        <h1>Contributors</h1>


<h2>{{ contributor.name }}</h2>

<p>{{ contributor.bio }}</p>

<p>
Website: <a href="{{ contributor.website }}" target="_blank" rel="noopener noreferrer">{{ contributor.website }}</a><br>
Twitter: <a href="https://twitter.com/{{ contributor.twitter }}" target="_blank" rel="noopener noreferrer">@{{ contributor.twitter }}</a>
</p>

<h3>Articles by {{ contributor.name }}</h3>
{% set posts = collections.post | getPostsByContributor(contributor.key) %}
<ul>
{% for post in posts | reverse %}
	<li><a href="{{ post.url }}">{{ post.data.title }}</a> &mdash; <time datetime="{{ post.data.date | dateymd }}">{{ post.data.date | datefriendly }}</time></li>
{% endfor %}
</ul>
