---
layout: _pages-layout.njk
local: en
---

<h1>HOMEPAGE</h1>


<h2>Latest articles in Sights</h2>

{% set postListItems = collections.sights | head(-4) %}
{% include "partials/components/post-list.njk" %}



<h2>Latest articles in Sounds</h2>

{% set postListItems = collections.sounds | head(-4) %}
{% include "partials/components/post-list.njk" %}
