---
eleventyExcludeFromCollections: true
layout: _pages-layout.njk
local: en

eleventyNavigation:
  key: Home
  order: 1
---

<h1>HOMEPAGE</h1>

{# Trying to output latest 4 post for each collection: sights and sounds #}

<h2>Latest articles in Sights</h2>
{# START articles #}
    {% set postslist = collections.sightsTagsList | head(-4) %}
    {% set postslistCounter = collections.sightsTagsList | length %}
    {% include "partials/components/post-list.njk" %}
{# END articles #}


<h2>Latest articles in Sounds</h2>
{# START articles #}
    {% set postslist = collections.soundsTagsList | head(-4) %}
    {% set postslistCounter = collections.soundsTagsList | length %}
    {% include "partials/components/post-list.njk" %}
{# END articles #}

{# but I get Error: filter not found: head #}
