---
local: en

pagination:
  data: collections.sightsTagsList
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: "/sights/tags/{{ tag | slug }}/"
---

{% extends 'layouts/base.njk' %}

{% set postListItems = collections[tag] %}

{% block content %}

{# START articles #}
<div>
  {% include "partials/components/post-list.njk" %}
</div>
{# END articles #}

{{ tags | no_posts | inspect | safe }}

  <div>
    <p>
      {% for tag in collections.sightsTagsList %}
      <a href="/sights/tags/{{ tag | slug }}" class="tags">{{ tag }}</a>
      {% endfor %}
    </p>
  </div>

{% endblock %}
