---
local: en

pagination:
  data: collections.sightsTagsList
  size: 1
  alias: tag
  filter:
  - post
  addAllPagesToCollections: true
permalink: "/sights/tags/{{ tag | slug }}/"
category: sights
---

{% extends 'layouts/base.njk' %}

{% set postListItems = collections[tag] %}

{% block content %}

{# START articles #}
<div>
  {% include "partials/components/post-list.njk" %}
</div>
{# END articles #}

<div class="footer-tags">
<p>
{% for tag in collections.sightsTagsList %}
  {%- if tag !== "post" %}
    <a href="/sights/tags/{{ tag | slug }}" class="tags">{{tag}}</a>
  {%- endif %}
{% endfor %}
</p>
</div>

{% endblock %}
