---
local: "en"

pagination:
  data: "collections.soundsTagsList"
  size: 1
  alias: "tag"
  filter:
  - post
  addAllPagesToCollections: true
permalink: "/sounds/tags/{{ tag | slug }}/"
---

{% extends 'layouts/base.njk' %}

{% set postListItems = collections[tag] %}

{% block content %}

{# START articles #}
<div>
  {% include "partials/components/post-list.njk" %}
</div>
{# END articles #}

<div class="footer-tags">
<p>
{% for tag in collections.soundsTagsList %}
  {%- if tag !== "post" %}
    <a href="/sounds/tags/{{ tag | slug }}" class="tags">{{tag}}</a>
  {%- endif %}
{% endfor %}
</p>
</div>

{% endblock %}
