---
layout: layouts/post.njk

local: en

date: 2021-07-22
title: Audio 3 Title
details: Audio sound, 2019

tags:
  - Audio Three
  - recordings
  - funk
  - post

contributor: gertrude
---

      <div>
      <h2>Audio Three</h2>

      <p>This article is about audio three</p>

      <p>
      {%- for item in tags %}
        {%- if item !== "post" %}
          <a href="/sounds/tags/{{ item | slug }}" class="tags"> {{ item }} </a>
        {%- endif %}
      {%- endfor %}
      </p>

    </div>
