---
layout: layouts/post.njk

local: en

date: 2021-07-20
title: Audio 4 Title
details: Audio record, 2017

tags:
  - Audio Four
  - mixtape
  - hip hop
  - post

contributor: johnny
---

      <div>
      <h2>Audio Four</h2>

      <p>This article is about audio four</p>

{{ tags | no_posts | inspect | safe }}

      <p>Tagged:
        {% for item in tags %}
        <a href="/sounds/tags/{{ item | slug }}" class="tags article-tag">{{ item }}</a>
        {% endfor %}
      </p>
    </div>
