---
layout: layouts/post.njk

local: en

date: 2021-07-20
title: Audio 4 Title
details: Audio record, 2017

tags:
  - audio four.1
  - audio four.2
  - audio four.3
  - audio four.4
---

<div>
  <h2>Audio Four</h2>

  <p>This article is about audio four</p>
  <p>Tagged:
    {% for item in tags %}
    <a href="/sounds/tags/{{ item | slug }}" class="tags article-tag">{{ item }}</a>
    {% endfor %}
  </p>
</div>
