---
local: "en"

pagination:
  data: "collections.soundsTagsList"
  size: 1
  alias: "tag"
  addAllPagesToCollections: true
permalink: "/sounds/tags/{{ tag | slug }}/"
---
<!-- this should be tag archive for SOUNDS category only -->
<!-- This will create a page for every tag -->


{% extends 'layouts/base.njk' %}

{% set postListItems = collections[tag] %}

{% block content %}

<!-- START articles -->
        <div class="article-cards-row">
    {% include "partials/components/post-list.njk" %}<!-- list of articles -->
  </div>
  <!-- END articles -->

  <div>
    <p>
    <!-- PROBLEM -->
    <!-- outputs tags. Should be all tags for collection.sounds only, but outputs also all collections.sights tags - I don't want this to happen and I have to find a solution -->
    {% for tag in collections.soundsTagsList %}
      <a href="/sounds/tags/{{ tag | slug }}" class="tags">{{ tag }}</a>
    {% endfor %}
    </p>
  </div>

{% endblock %}
