---
local: en

title: Archive
pagination:
  data: collections.sights
  size: 2
  alias: sights
---

{% extends 'layouts/base.njk' %}

{% set postListItems = pagination.items %}

{% block content %}

  {# START articles #}
  <div>
    {% include "partials/components/post-list.njk" %}
  </div>
  {# END articles #}

        {% include "partials/components/pagination.njk" %}

        <div class="footer-tags">
        <p>
        {% for tag in collections.sightsTagsList %}
          {%- if tag !== "post" %}
            <a href="/sights/tags/{{ tag | slug }}" class="tags">{{tag}}</a>
          {%- endif %}
        {% endfor %}
        </p>
        </div>

{% endblock %}
