---
local: en

title: Archive
pagination:
  data: collections.sights
  size: 2
  alias: sights
---

{% extends 'layouts/base.njk' %}

{% set postListItems = pagination.items %}

{% block content %}

  {# START articles #}
  <div>
    {% include "partials/components/post-list.njk" %}
  </div>
  {# END articles #}

        {% include "partials/components/pagination.njk" %}

{{ tags | no_posts | inspect | safe }}

  <div>
    <p>
      {% for tag in collections.sightsTagsList %}
      <a href="/sights/tags/{{ tag | slug }}" class="tags">{{tag}}</a>
      {% endfor %}
    </p>
  </div>

{% endblock %}
