---
layout: layouts/post.njk

local: en

date: 2021-09-23
title: Video Test Zero
details: Session, 2020

tags:
  - Video Zero
  - session
  - speech
  - post

contributor: johnny
---

      <div>
      <h2>Video Zero</h2>

      <p>This is a video article</p>

      <p>
      {%- for item in tags %}
        {%- if item !== "post" %}
          <a href="/sights/tags/{{ item | slug }}" class="tags"> {{ item }} </a>
        {%- endif %}
      {%- endfor %}
      </p>

    </div>
