---
layout: layouts/post.njk

local: en

date: 2021-07-09
title: Video Test Two
details: Ident, 2021

tags:
  - Video Two
  - ident
  - clip
  - post

contributor: andrea
---

      <div>
      <h2>Video Two</h2>

      <p>This is a video article</p>

      <p>
      {%- for item in tags %}
        {%- if item !== "post" %}
          <a href="/sights/tags/{{ item | slug }}" class="tags"> {{ item }} </a>
        {%- endif %}
      {%- endfor %}
      </p>
      
    </div>
