---
layout: layouts/post.njk

local: en

date: 2021-07-10
title: Video Test Four
details: Promo, 2020

tags:
  - Video Four
  - documentary
  - jazz
  - post

contributor: gertrude
---

      <div>
      <h2>Video Four</h2>

      <p>This is a video article</p>

      <p>
      {%- for item in tags %}
        {%- if item !== "post" %}
          <a href="/sights/tags/{{ item | slug }}" class="tags"> {{ item }} </a>
        {%- endif %}
      {%- endfor %}
      </p>

    </div>
