---
layout: layouts/post.njk

local: en

date: 2021-07-06
title: Video Test One
details: Ident, 2019

tags:
  - video one.1
  - video one.2
  - video one.3
---

<div>
  <h2>Video One</h2>

  <p>This is a video article</p>
  <p>Tagged:
    {% for item in tags %}
    <a href="/sights/tags/{{ item | slug }}" class="tags article-tag">{{ item }}</a>
    {% endfor %}
  </p>
</div>
