---
layout: _below-layout.njk
contributor: andrea
pagination:
  size: 2
  alias: contributorPosts
  data: "collections.contributor_andrea"
---

{% if contributor %}
{% set myContributor = contributors | getContributor(contributor) %}

<h2>{{ myContributor.name }}</h2>

<p>{{ myContributor.bio }}</p>

<p>
Website: <a href="https://{{ myContributor.website }}" target="_blank" rel="noopener noreferrer">{{ myContributor.website }}</a><br>
Twitter: <a href="https://twitter.com/{{ myContributor.twitter }}" target="_blank" rel="noopener noreferrer">@{{ myContributor.twitter }}</a>
</p>

<h3>Articles by {{ myContributor.name }}</h3>

<ul>
{% for post in contributorPosts %}
	<li><a href="{{ post.url }}">{{ post.data.title }}</a> &mdash; <time datetime="{{ post.data.date | dateymd }}">{{ post.data.date | datefriendly }}</time></li>
{% endfor %}
</ul>

        {% include "partials/components/pagination.njk" %}

{% endif %}
