---
layout: _pages-layout.njk
---



<p>The list of contributors with links to their contributor page.</p>


<ul>
{% for contributor in contributors %}
<li><a href="/contributors/{{ contributor.name | slug }}/">{{ contributor.name }}</a></li>
{% endfor %}
</ul>
