<!DOCTYPE html>
<html lang="{{ local }}">

<head>
  {% include "_head.njk" %}
</head>

<body>

<header>
  {% include "_navbar.njk" %}
</header>

<main>

    <div>{% block content %} {% endblock content %}</div>

<!-- base layout for articles -->

</main>

</body>
</html>
